{% extends 'base.html' %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% block content %}
  <p>

    {{ get_flashed_messages() }}
  </p>
  <form method="post" action="{{ url_for('author.login') }}">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Your email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Your password">
  </div>
  <div class="form-group">
        <input type="submit" value="Login" class="submit-btn">
    </div>
</form>
{% endblock content %}